@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,500&family=Oswald&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Garamond', sans-serif;
	font-size: 18px;
}

.header {
	background-color: #6388cb;
	padding: 15px 0 15px 0;
}

.slogan {

	color: #fff;
}

.banner {
	background-image: url(images/img-1.jpg);
	height: 650px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	position: relative;
}


.line {
	background-image: url(images/bg-legend.png);
	background-position: left, right;
	background-repeat: repeat-x;

}

.line b {
	background-color: #6388cb;
	display: inline-block;
	padding: 0 15px;


}

.yellow {
	background-image: url(images/bg-form-foot.png);
	background-repeat: repeat-x;
	height: 100px;
	margin: 30px -45px;
	position: relative;
}

.yellow::before,
.yellow::after {
	content: "";
	width: 0;
	height: 0;
	border-top: 15px solid #b17e1e;
	position: absolute;
	bottom: -15px;
}

.yellow::before {
	border-left: 15px solid transparent;
	left: 0;
}

.yellow::after {
	border-right: 15px solid transparent;
	right: 0;
}


.zagolovok {
	padding-top: 50px;
	text-align: center;
	margin-bottom: 20px;
}

.zagolovok > h2 {
	color: #6388cb;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}

.zagolovok > b {
	text-align: center;
	color: #868b8b;
}



.fon {
	background-color: #6388cb;
	color: #fff;
	text-align: center;
	padding: 30px;
}

input {
	background-color: #41416f;
	padding: 5px;
	margin: 5px;
	width: 100%;
	border: none;
	outline: none;
	color: #fff;
}

input:focus {
	background-color: #1e1e65;
}

button {
	background-color: #1e1e65;
	padding: 5px 15px;
	border-radius: 5px;
	color: #fff;
	margin-top: 30px;
	border: none;
	font-family: 'Oswald', sans-serif;
}

button:hover {
	background-color: #2a5cb5;
}

/*2 блок*/

.courses {
	background-image: url(images/01.png);
}



.znack {
	background-color: #41416f;
	text-align: center;
	padding: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	position: relative;

}
.znack:hover{
	 background-color: #ffc21b;
}


.anime:hover{
	 animation: 0.82s anime linear  both; 
	
color: #1e1e65;
	
}
@keyframes anime {
   
10%, 90% {
    transform: translate3d(-1px, 0, 0);
	
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}



.znack::before {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -20px;
	border: 10px solid transparent;
	border-top: 10px solid #41416f;
	
}

.courses h4 {
	color: #41416f;
	font-weight: bold;
	text-align: center;
}

.courses p {
	text-align: center;
}

.info {
	display: flex;
	align-items: center;

}

.foto img {
	width: 100%;

}

.foto{

}

.foto:hover{

  background-color: #41416f;
 transition: all 2s ease;
 }

.foto:hover img {
 background-color: #41416f;
  background: transparent;
  visibility: hidden;
	
}

.animazija:hover{
	color: #2f2fb5;

}


.info p {
	text-align: center;
}

.biografiya {
	background-image: url(images/testimonials-bg.jpg);
	background-repeat: no-repeat;
	text-align: center;
	height: 550px;
	font-style: italic;
	font-size: 24px;
}

/*блок 3*/



.avatar {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	overflow: hidden;
	margin: 15px auto;

}


.biografiya img {
	width: 100%;
}

.border {
	border: 2px solid #000;
	width: 50px;
	margin: 10px auto;
}

/*блок 4*/
.video {}

.vid_item {
	display: flex;
	justify-content: center;
}

.video iframe {
	display: block;
	width: 400px;
	height: 250px;
	margin: 50px auto;

}


.one ul {
	display: inline-block;
	margin: 50px;
	list-style-image: url(images/bul-list.png);
}




.bg_blue {
	background: #6388cb;
}


ul {
	text-align: center;
	list-style-type: none;
}

.block {
	margin: 15px;
}


.block li {
	padding: 5px;
	color: #fff;
	font-weight: bold;
}

.block h3 {
	color: #ffc21b;
	text-align: center;
	font-style: italic;
	font-weight: bold;
}

.block button {
	position: relative;
	left: 50%;
	bottom: 15px;
	transform: translate(-50%, 0);
}




/*блок 5*/

.email {
	background-color: #ffc21b;
}

.email input {
	width: 200px;
	background-color: #fff;
}

.email p {
	color: #fff;
	font-weight: bold;
	margin-top: 20px;

}

.email .forma {
	margin-bottom: 20px;
}

.email button {
	background-color: #a0852c;
}

/*блок 6*/

.footer {
	background-color: #0b0b0b;
	color: #fff;
	padding: 20px;
}

.footer h3 {
	color: #ffc21b;

}



.materials li {
	list-style-type: none;
	display: flex;
	justify-content: flex-start;
}

.materials li:before {
	content: "+";
	color: #fff;
	margin-right: 5px;
}

.icons{
	
}

.icon {
	position: relative;
	float: left;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 100px;
	margin: 0 10px;
	color: #fff;
	


}
.stay a{
	border: 2px solid;
	width: 30px;
text-align: center;
}

.icon::before {
	content: "";
	display: block;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 7px 15px;
	font-size: 16px;
	bottom: -40px;
	border-radius: 3px;
	display: none;
}

.icon::after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	
}

.icon:hover::after {
	display: block;
}

.icon:hover::before {
	display: block;
}

.linkedin::before {
	content: "linkedin";
}

.youtube::before {
	content: "youtube";
}

.facebook::before {
	content: "facebook";
}

.twitter::before {
	content: "twitter";
}

.icons {
	margin: 5px;
}


/*блок 7*/
.stroka {
	background-color: #262727;
	color: #fff;
	display: flex;
	justify-content: flex-end;
}

.lorem {
	display: flex;
	justify-content: flex-end;
}


@media screen and (max-width:992px) {}


@media screen and (max-width:768px) {}

@media screen and (max-width:576px) {}
